
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.jumbotron .h1, .jumbotron h1 {
    color: #ff0000;
}

.titleHead {
     font-family: 'Acme', sans-serif;
     font-size:50px;
    text-shadow:1px 1px 0 #fff,
    font-size:50px;
    color:#ff0000;
    text-shadow:1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    0px 1px 0 #fff,
    1px 0px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    4px 4px 3px #000;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.container {
    background-color: #ffffff;
    margin: 40px;
   
}

.btn {
    background-color: #000;
    border: solid, 7px;
    border-color: #000;
    margin-top: 5px;
    margin-left: 5px;
    color:#fff;
}
